
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Nunito:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: linear-gradient(#202f61,#15092c);
  color: white
}

#banner {
  background-image: url(https://www.cidadeecultura.com/wp-content/uploads/2018/02/Sao-Paulo-Parque-Ibirapuera-fonte-e-lago-AR0438-web.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
  padding: 100px;
  }

  .banner-text{
    background-color: rgba(255, 255, 255, 0.623);
    display: inline-block;
    font-family: 'Allison', cursive;
    font-size: 30px;
    color: rgb(56, 73, 87);
  }


main {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}

.video{
  padding: 30px;
}

ol li {
  padding: 20px;
}

a{
  font-family: Georgia, 'Times New Roman', serif;
  color: white;
}

/*----Responsivo------------------------------------------*/
@media (min-width: 460px){
  header{
    flex-direction: columns;
  }
  
}